<h3>Créditos</h3>
<br />

<div id="creditos">
	<%- photo %>
	<div><b>Aprendiz</b></div>
	<div id="course"><b>Curso: </b><%= curso %></div>
	<div id="author"><b>Nombre: </b><%= author %></div>
	<div id="profesion"><b>Profesión: </b><%= profesion %></div>
	<div id="correo"><b>Correo: </b><%= correo %></div>
	<div><b>Instructor</b></div>
	<div id="teacher"><b>Nombre: </b><%= teacher %></div>
	<div id="claustro"><b>Claustro: </b><%= claustro %></div>
</div>
<div class="video-box">
	<div class="video">
		<%- video %>
	</div>
</div>
